* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
    margin-bottom: 20px;
    border:5px solid #8f5c225d;
    padding:5px;
    border-radius: 12px;
    background: lab(76.89% 13.01 47.64);
}

.cell {
     background: lab(37.13% 8.97 29.67);
    border-radius: 8px;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.4s;
}

.cell:hover {
    background: lab(48.07% 10.88 36.3);
}

.reset-btn {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.reset-btn:hover {
    background: #0056b3;
}

.Turn{
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}